<!-- START Header -->
<tty-header></tty-header>
<!-- END Header -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Router Outlet -->
<router-outlet></router-outlet>
<!-- END Router Outlet -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Footer -->
<tty-footer></tty-footer>
<!-- END Footer -->
<!-- -------------------------------------------------------------------------------- -->
<div id="scrollToTop" class="fixed-bottom w-100">
  <button data-aos="fade-up" data-aos-once="false" data-aos-offset="100" data-aos-anchor-placement="bottom-bottom" class="btn rounded-circle btn-lg btn-secondary float-right mr-3 mb-3 shadow-lg" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </button>
</div>



