<!-- START Carousel -->
<tty-carousel-holder class="home-slider" [customOptions]="heroSlidesOptions" [slidesStore]="heroSlides"></tty-carousel-holder>
<!-- END Carousel -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Services -->
<section class="tty-services tty-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch p-4 tty-animate" data-aos-delay="350" data-aos="fade-up">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-users"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Dedicated Staff</h3>
            <p>More than 15 years experience in healthcare services. Our qualified team provides guidence and support the moment you schedule your test.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch p-4 tty-animate" data-aos-delay="400" data-aos="fade-up">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-calendar"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Safe & Simple</h3>
            <p><span style="text-shadow: 1px 3px 3px rgb(0,0,0,.4);"><b>Book appointment</b><br><b>Confirm location</b><br><b>Get tested</b> <br>Results in as little as 3 hours</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch p-4 tty-animate" data-aos-delay="450" data-aos="fade-up">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-map-location"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Choice of Location*</h3>
            <p>Delivering safe and accurate COVID-19 testing to your home or business. We follow <br><i class="fa fa-mail-forward" style="font-size: 80%;" aria-hidden="true"></i> <a class="font-weight-bolder text-light" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" target="_blank" rel="noopener noreferrer">CDC prevention guidelines</a>.<br>*<span [style.font-size]="'70%'">Location must meet requirements</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex services align-self-stretch p-4 tty-animate" data-aos-delay="500" data-aos="fade-up">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-target"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Accurate Results</h3>
            <p>The RT-PCR test is certified with an Emergency Use Authorization from the FDA.<br><i class="fa fa-mail-forward" style="font-size: 80%;" aria-hidden="true"></i><a class="font-weight-bolder text-light" href="https://www.thermofisher.com/us/en/home/life-science/pcr/reverse-transcription/superscript-iv-one-step-rt-pcr-system/5-steps-rtpcr.html" target="_blank" rel="noopener noreferrer">5 easy steps to Fast RT-PCR</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Services -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START About -->
<section class="tty-section tty-no-pt tty-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(../assets/images/about.jpg);">
      </div>
      <div class="col-md-7 wrap-about py-4 py-md-5 tty-animate" data-aos="fade-up">
        <div class="heading-section mb-5">
          <div class="pl-md-5 ml-md-5">
            <span class="subheading">About Test2You</span>
            <h2 class="mb-4" style="font-size: 28px;">COVID-19 testing at your convenience. No crowds, no lines, no worries.</h2>
          </div>
        </div>
        <div class="pl-md-5 ml-md-5 mb-5">
          <p>Avoid the risk of exposing yourself and others and get some peice-of-mind, and a COVID-19 test almost anytime, almost anywhere. A trained agent will arrive at the time and place of your choice, and administer the pain-free test. Get the test results in as little as 3 hours.</p>
          <div class="row mt-5 pt-2">
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                    class="flaticon-time"></span></div>
                <div class="text">
                  <h3>Flexible Appointments</h3>
                  <p>Choose the available time slot that works with your schedule.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                    class="flaticon-like"></span></div>
                <div class="text">
                  <h3>Painless Test</h3>
                  <p>Our tests are painless, and optimal for both adults and children.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                    class="flaticon-price-tag"></span></div>
                <div class="text">
                  <h3>Cost Reimbursment</h3>
                  <p>Insurance will reimburse most or all of the cost of our tests.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                    class="flaticon-heart-rate"></span></div>
                <div class="text">
                  <h3>Aftercare & Support</h3>
                  <p>No matter the test results, counseling is available to all clients.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END About -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Divider -->
<tty-divider></tty-divider>
<!-- END Divider -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Products -->
<!-- TODO: Add copy -->
<section class="tty-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section tty-animate" data-aos="fade-up">
        <span class="subheading">Our Products</span>
        <h2 class="mb-4">Testing & PPE</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="tty-products">
      <tty-tabs [data]="products"></tty-tabs>
    </div>
  </div>
</section>
<!-- END Products -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Team -->
<!-- TODO: Add copy / profile images / profile text -->
<section class="tty-section tty-no-pt">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section tty-animate" data-aos="fade-up">
        <span class="subheading">Team</span>
        <h2 class="mb-4">Our Dedicated Team</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 tty-animate" data-aos="fade-up" *ngFor="let teamate of team;let i = index;" [style.transition-delay]="(i + 1) + '00ms'">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" [style.background-image]="'url(assets/images/'+teamate.imageSrc+')'"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>{{teamate.name}}</h3>
            <span class="position mb-2">{{teamate.title}}</span>
            <div class="faded">
              <p>{{teamate.description}}</p>
              <!-- <ul class="tty-social text-center">
                <li class="tty-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="tty-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="tty-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="tty-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Team -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Testimonials -->
<section class="tty-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section tty-animate" data-aos="fade-up">
        <span class="subheading">Testimonials</span>
        <h2 class="mb-4">Our Patients Says About Us</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row tty-animate justify-content-center" data-aos="fade-up">
      <div class="col-md-8">
        <tty-carousel-holder class="carousel-testimony" [isHero]="false" [customOptions]="testimonialOptions" [slidesStore]="testimonials"></tty-carousel-holder>
      </div>
    </div>
  </div>
</section>
<!-- END Testimonials -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Consultation -->
<section class="tty-section tty-no-pt tty-no-pb tty-counter img" #counterWrap id="section-counter"
  style="background-image: url(../assets/images/bg_3.jpg); background-attachment: fixed;" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-5 pr-md-5">
        <div class="heading-section heading-section-white tty-animate mb-5">
          <span class="subheading">Consultation</span>
          <h2 class="mb-4">Free Consultation</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
        <form #consultation="ngForm" autocomplete="off" class="appointment-form tty-animate">
          <div class="d-md-flex">
            <div class="form-group">
              <input [(ngModel)]="consultationForm.firstName" name="firstName" id="firstName" type="text" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group ml-md-4">
              <input [(ngModel)]="consultationForm.lastName" name="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name" required>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <div class="form-field">
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select [(ngModel)]="consultationForm.service" id="service" name="service" class="form-control">
                    <option value="">Select Your Services</option>
                    <option value="home-testing">Home testing</option>
                    <option value="business-testing">Business testing</option>
                    <option value="group-testing">Group testing</option>
                    <option value="vaccination">Vaccination</option>
                    <option value="other">Other Services</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group ml-md-4">
              <input [(ngModel)]="consultationForm.phone" type="text" name="phone" class="form-control" placeholder="Phone" required>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <div class="input-wrap">
                <div class="icon" style="font-size: 18px;"><span class="flaticon-calendar-1"></span></div>
                <input [(ngModel)]="consultationForm.date" type="text" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue'}" class="form-control appointment_date" name="date" placeholder="Date" required>
              </div>
            </div>
            <div class="form-group ml-md-4">
              <div class="input-wrap">
                <div class="icon" style="font-size: 18px;"><span class="flaticon-clock-1"></span></div>
                <timepicker [(ngModel)]="consultationForm.time" [showSpinners]="false" name="time" required></timepicker>
              </div>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <textarea [(ngModel)]="consultationForm.message" name="message" id="message" cols="30" rows="2" class="form-control" placeholder="Message" required></textarea>
            </div>
            <div class="form-group ml-md-4">
              <button [disabled]="consultation.invalid" class="btn btn-secondary py-3 px-4" (click)="submitConsultationForm(consultationForm, consultation)">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 p-5 bg-counter aside-stretch">
        <h3 class="vr">About Test2You Facts</h3>
        <div class="row pt-4 mt-1">
          <div class="col-md-6 d-flex justify-content-center counter-wrap tty-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong [countUp]="1250" class="number">0</strong>
                <span>Years of Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap tty-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number">0</strong>
                <span>Happy Patients</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap tty-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number">0</strong>
                <span>Medical Professionals</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap tty-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number">0</strong>
                <span>Team Members</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Consultation -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Pricing -->
<section class="tty-section pricing-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section" data-aos="fade-up">
        <span class="subheading">Pricing</span>
        <h2 class="mb-4">Our Pricing</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let tag of pricing; let i = index;" class="col-md-3" data-aos="fade-up" [style.transition-delay]="(i + 1) + '00ms'">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">{{tag.type}}</h3>
            <p><span class="price">${{tag.price}}</span> <span class="per">/ {{tag.unitDescriptor}}</span></p>
          </div>
          <ul>
            <li *ngFor="let attribute of tag.attributes">{{attribute}}</li>
          </ul>
          <p class="button text-center"><a [routerLink]="['pricing/' + tag.id]" class="btn btn-primary px-4 py-3">Get {{tag.type}} test</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Pricing -->
<!-- -------------------------------------------------------------------------------- -->
<!-- START Recent Blog -->
<section class="tty-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section tty-animate">
        <span class="subheading">Blog</span>
        <h2 class="mb-4">Recent Blog</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 tty-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../assets/images/image_1.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 tty-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../assets/images/image_2.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 tty-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../assets/images/image_3.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">January</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Scary Thing That You Don’t Get Enough Sleep</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Recent BLog -->
<!-- -------------------------------------------------------------------------------- -->
