<div class="row">
  <div class="col-md-12 nav-link-wrap">
    <ul class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <li class="nav-link tty-animate" data-aos="fade-up" id="v-pills-1-tab" role="tab" aria-controls="v-pills-1"
        aria-selected="true" *ngFor="let tabset of data; let i = index;" [style.transition-delay]="i + '00ms'"
        (click)="selectTab(i)" [ngClass]="selectedTab === i ? 'active':''">
        {{tabset.title}}</li>
    </ul>
  </div>
  <div class="col-md-12 tab-wrap">

    <div class="tab-content bg-light p-4 p-md-5 tty-animate" id="v-pills-tabContent" data-aos="fade-up">
      <div *ngFor="let tab of data; let i = index;" [hidden]="selectedTab !== i"
        class="tab-pane py-2 animate__animated animate__backInLeft show active" id="v-pills-1" role="tabpanel"
        aria-labelledby="day-1-tab">
        <div class="row departments">
          <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
            <div class="img d-flex align-self-stretch"
              [style.background-image]="'url(../assets/images/' + tab.backgroundImageSrc + ')'"></div>
          </div>
          <div class="col-lg-8">
            <h2>{{tab.content.title}}</h2>
            <p>{{tab.content.text}}
            </p>
            <div class="row mt-5 pt-2">
              <div *ngFor="let item of tab.content.list" class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center">
                    <span [ngClass]="'flaticon-' + item.icon"></span>
                  </div>
                  <div class="text">
                    <h3>{{item.title}}</h3>
                    <p>{{item.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
